
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/lesson1.css" rel="stylesheet" media="screen">
</head>

<body data-ng-app="lesson1App">
<div class="batchContainer container-fluid" data-ng-controller="lesson1Ctrl">
	<header>
		<div>
			<hr>
			<h1>Adder/Subtractor</h1>
		</div>
	</header>
	<div class="main">
		<form>
			<div class="integers">
				<label for="X">X =</label>
				<input type="text" id="X" data-ng-model="X" tabindex="1" placeholder="Enter an Integer" data-ng-change="numbersOnlyForX()" required>
			</div>
			<div class="integers">
				<label for="Y">Y =</label>
				<input type="text" id="Y" data-ng-model="Y" tabindex="2" placeholder="Enter an Integer" data-ng-change="numbersOnlyForY()" required>
			</div>
			<div class="buttonDiv">
				<button type="submit" data-ng-click="plusClicked()" class="plus" tabindex="3">+</button>
				<button type="submit" data-ng-click="minusClicked()" class="minus" tabindex="4">-</button>
			</div>
		</form>
		<div class="results">
			<p>
				<span data-ng-show="!initialized">X</span><span data-ng-show="initialized">{{X}}</span>
				<span data-ng-show="!initialized"> minus / plus</span><span data-ng-show="initialized">{{operator}}</span>
				<span data-ng-show="!initialized">Y is</span><span data-ng-show="initialized">{{Y}} is </span>
				<span data-ng-show="!initialized">Z</span><span data-ng-show="initialized">{{Z}}</span>
			</p>
		</div>
	</div>
	<footer>
		<div>
			<hr>
		</div>
	</footer>
</div>
<script src="js/vendor/angularjs-1.2.15/angular.js"></script>
<script src="js/lesson1.js"></script>
</body>
</html>